<div class="flex flex-col items-center justify-center min-h-screen w-full">
  <h1 class="text-4xl font-bold text-gray-900 mb-6">Welcome to Music Journal</h1>
  <p class="text-gray-600 mb-6 text-lg text-center">Log your favorite music and track trends!</p>

  <div class="shadow-lg rounded-lg p-8 w-full max-w-md">
    <h1 class="text-2xl font-bold text-center mb-6">Sign Up</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :username, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.text_field :username, class: "w-full p-3 border rounded-lg shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, class: "w-full p-3 border rounded-lg shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-3 border rounded-lg shadow-sm" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, class: "block text-gray-700 font-bold mb-2" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-full p-3 border rounded-lg shadow-sm" %>
      </div>

      <%= f.submit "Sign Up", class: "w-full bg-emerald-600 hover:bg-emerald-900 text-white font-bold py-3 px-6 rounded-lg shadow-md text-lg cursor-pointer" %>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to "Already have an account? Log in", new_session_path(resource_name), class: "text-blue-500 hover:underline" %>
    </div>
  </div>
  <% if resource.errors.any? %>
    <div class="bg-red-200 text-red-700 p-4 rounded-md mb-4">
      <h2 class="font-bold mb-2">Oops! Something went wrong:</h2>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li>- <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
