<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Music Journal App Test" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= yield :head %>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag "chartkick" %>
      <%= javascript_importmap_tags %>
  </head>
  <body class="min-h-screen flex flex-row bg-orange-100">
    <aside class="w-1/4 bg-orange-100 p-4 flex-col items-start">
      <% if user_signed_in? %>
        <h1 class="text-2xl font-bold">Welcome, <%= current_user.username || current_user.email %>!</h1>
        <div class="mt-6 flex-row space-x-6">
          <%= link_to 'Logout', destroy_user_session_path,
                      method: :delete,
                      data: { turbo_method: :delete },
                      class: "inline-flex items-center bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" %>
          <%= link_to 'Home', music_logs_path,
                      class: "inline-flex items-center bg-cyan-600 hover:bg-cyan-800 text-white font-bold py-2 px-4 rounded" %>
        </div>
        <div class="mt-6 flex-row space-x-6">
          <%= link_to 'Friends', friends_path,
                      class: "inline-flex items-center bg-cyan-600 hover:bg-cyan-800 text-white font-bold py-2 px-4 rounded" %>
        </div>
        <div class="mt-6 flex-col space-x-6">
          <%= render "friendships/friends_favorites" %>
        </div>
    <% else %>
    <% end %>
    </aside>
    <% flash.each do |type, message| %>
    <div class="fixed bottom-6 left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-lg shadow-lg text-center transition-opacity duration-300 opacity-100
              <%= type == 'success' ? 'bg-green-500 text-white' : '' %>
              <%= type == 'error' ? 'bg-red-500 text-white' : '' %>
              <%= type == 'info' ? 'bg-blue-500 text-white' : '' %>
              <%= type == 'warning' ? 'bg-yellow-500 text-black' : '' %>
              animate-fade-out">
      <%= message %>
    </div>
  <% end %>


  <main class="p-4 flex flex-row w-full">
      <%= yield %>
    </main>
  </body>
</html>
