<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Music Journal App Test" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= yield :head %>
      <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= javascript_include_tag "chartkick" %>
      <%= javascript_importmap_tags %>
  </head>
  <body class="min-h-screen flex flex-row bg-gray-50">
    <aside class="w-1/4 bg-gray-50 p-4 flex-col items-start">
      <% if user_signed_in? %>
        <h1 class="text-2xl font-bold">Welcome, <%= current_user.username %>!</h1>
        <div class="mt-6 flex-row space-x-6">
          <%= link_to 'Logout', destroy_user_session_path,
                      method: :delete,
                      data: { turbo_method: :delete },
                      class: "inline-flex items-center bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        </div>
    <% else %>
    <% end %>
    </aside>
    <main class="p-4 flex flex-row w-full">
      <%= yield %>
    </main>
  </body>
</html>
